<h3>Gebäude</h3>

<div *ngFor="let info of constructionInfos$ | async" class="mb-2">
    <h6>{{ info.building.label }}</h6>
    <span class="text-sm">Level {{ info.levelToBuild - 1}}</span>
    <div class="text-muted text-sm">{{ info.building.description }}</div>
    <div class="row">
      <div class="col-4 text-sm" *ngFor="let key of keys(info.costs);">
        {{key}} {{info.costs[key]}}
      </div>
    </div>
    <div class="row col-12">
      <span class="text-sm">Bauzeit {{info.buildTimeInSeconds}}</span>
    </div>

    <button class="mt-2 btn btn-sm btn-primary" (click)="build(info)">{{ info.levelToBuild === 1 ? 'bauen' : 'ausbauen' }}</button>
  <hr/>
</div>
