<h3>Rohstoffe</h3>

<div class="alert alert-info" *ngIf="!player.hasResourceBuilding()">Noch kein Rohstoffgebäude gebaut. Bitte bauen.</div>

<div *ngIf="player.hasResourceBuilding()">
  <h5>Neue Vorkommen suchen</h5>
  <form [formGroup]="resourceSitesForm" (ngSubmit)="onSubmit()">
    <select formControlName="resource" (change)="changeResource($event)">
      <option disabled>Wähle Rohstoff</option>
      <option *ngFor="let resource of resources" value="{{resource.id}}">{{resource.label}}</option>
    </select>
    <div class="form-group">
      <label>Dauer</label>
      <input formControlName="duration" type="text" class="form-control"/>
    </div>
    <button class="btn btn-sm btn-primary">suchen</button>
  </form>

  <h5 class="mt-4">Drohnenstatus</h5>
  <div>
    <div>
      Vorhandene Drohnen: 30
    </div>
    <div>
      Davon benutzt: 0
    </div>
    <div>
      Unbenutzt: 30
    </div>
  </div>

  <h5 class="mt-4">Vorhandene Vorkommen</h5>
  <div>
    <div *ngIf="player.getResourceSites().length == 0" class="alert alert-info">
      Noch keine Vorkommen vorhanden. Bitte zuerst danach suchen.
    </div>

    <table class="table table-sm table-striped" *ngIf="player.getResourceSites().length > 0">
      <thead>
        <tr>
          <th>Rohstoff</th>
          <th>Größe</th>
          <th>verbleibend</th>
          <th>Drohnenanzahl</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let site of player.getResourceSites()">
          <td>{{site.resource}}</td>
          <td>{{site.capacity}}</td>
          <td>{{site.amount}}</td>
          <td>
            <input class="form-control" type="number" value="{{site.droneCount}}" min="0" max="100" (change)="updateDroneCount(site.id, $event)"/>
          </td>
          <td>
            <button class="btn btn-link text-danger" title="löschen" (click)="deleteSite(site.id)"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
