<h3>Rohstoffe</h3>

<div class="alert alert-info" *ngIf="!player.hasResourceBuilding()">Noch kein Rohstoffgebäude gebaut. Bitte bauen.</div>

<div *ngIf="player.hasResourceBuilding()">
  <h5>Neue Vorkommen suchen</h5>
  <form [formGroup]="resourceSitesForm" (ngSubmit)="onSubmit()">
    <select class="form-control custom-select" formControlName="resource" (change)="changeResource($event)">
      <option disabled>Wähle Rohstoff</option>
      <option *ngFor="let resource of resources" value="{{resource.id}}">{{resource.label}}</option>
    </select>
    <button class="btn btn-sm btn-primary mt-2" [disabled]="!resourceSitesForm.value.resource">suchen</button>
  </form>

  <h5 class="mt-4">Aktuelle Suchen</h5>
  <div *ngFor="let search of player.getResourceSiteSearches()">
    {{search.label}}
  </div>
  <div class="alert alert-info" *ngIf="player.getResourceSiteSearches().length === 0">
    Zur Zeit wird nicht gesucht
  </div>

  <h5 class="mt-4">Drohnenstatus</h5>
  <div>
    <div>
      Vorhandene Drohnen: {{totalCount}}
    </div>
    <div>
      Davon benutzt: {{usedCount}}
    </div>
    <div>
      Unbenutzt: {{unusedCount}}
    </div>
  </div>

  <h5 class="mt-4">Vorhandene Vorkommen</h5>
  <div>
    <div *ngIf="player.getResourceSites().length == 0" class="alert alert-info">
      Noch keine Vorkommen vorhanden. Bitte zuerst danach suchen.
    </div>

    <table class="table table-sm table-striped" *ngIf="player.getResourceSites().length > 0">
      <thead>
        <tr>
          <th>Rohstoff</th>
          <th>Größe</th>
          <th>verbleibend</th>
          <th>Drohnenanzahl</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let site of player.getResourceSites()">
          <td>{{site.resource}}</td>
          <td>{{site.capacity}}</td>
          <td>{{site.amount}}</td>
          <td>
            <input class="form-control" type="number" value="{{site.droneCount}}" min="0" max="100" (change)="updateDroneCount(site.id, $event)"/>
            <div class="text-danger" *ngIf="errors[site.id].droneCount">
              Drohnenanzahl übersteigt maximal verfügbare Drohnen. Setzen nicht möglich.
            </div>
          </td>
          <td>
            <button class="btn btn-link text-danger" title="löschen" (click)="deleteSite(site.id)"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
