<header>
    <app-header></app-header>
</header>
<main class="container-fluid" role="main">
  <div class="row">
    <div class="col-3 bg-light">
      <div class="mb-2">
        <h6>Spieler</h6>
        <button class="btn btn-sm btn-primary mb-2" title="Refresh" (click)="refresh()"><fa-icon [icon]="['fas', 'sync']"></fa-icon></button>
        {{user ? user.getName() : ''}}
      </div>
      <h6>Navigation</h6>
      <div class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="/main/overview" routerLinkActive="active">Übersicht</a>
        <a class="list-group-item list-group-item-action" routerLink="/main/buildings" routerLinkActive="active">Bauen</a>
        <a class="list-group-item list-group-item-action" routerLink="/main" routerLinkActive="">Forschen</a>
        <a class="list-group-item list-group-item-action" routerLink="/main/resources" routerLinkActive="active">Rohstoffe</a>
        <a class="list-group-item list-group-item-action" routerLink="/main" routerLinkActive="">Energie</a>
        <a class="list-group-item list-group-item-action" href="" (click)="logout()">Logout</a>
      </div>
      <div class="mt-4">
        <h6>Rohstoffe</h6>
        <div *ngFor="let res of user.getResources()" class="row text-sm">
          <div class="col-3">
            <span>{{res.type}}</span>
          </div>
          <div class="col-3">
            <span title="amount">{{res.amount}}</span>
          </div>
          <div class="col-3">
            <span title="capacity">/{{res.capacity}}</span>
          </div>
          <div class="col-3">
            <span [class.text-success]="res.production >=0" [class.text-danger]="res.production < 0">{{res.production > 0 ? '+' : '-'}}{{res.production}}/min</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>

</main>
